<div ng-repeat="comment in comments">
    <div class="panel panel-info">
        <div class="panel-heading">post id: {{comment.postId}}<br>comment id: {{comment.id}}<br>name: {{comment.name}}<br>email: {{comment.email}}</div>
        <div class="panel-body">body: {{comment.body}}</div>
    </div>
</div>