<div ng-repeat="post in posts">
    <a href="#!/posts/{{post.id}}/comments">
        <button type="button" class="btn btn-default btn-lg btn-block">
            <div class="panel panel-success">
                <div class="panel-heading">user id: {{post.userId}}<br>post id: {{post.id}}<br>title: {{post.title}}</div>
                <div class="panel-body">body: {{post.body}}</div>
            </div>
        </button>
    </a>
</div>